$grey :#E2E2E2;
$lightBlue : #8AB1D3;
$lightBlueHover: #A6C2D9;
$yellow: #ffffc6;

.background{
  background-color: $grey;
  min-height: 91vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.logo{
  margin-top: 2.5rem;
  display: block;
  width: 200px;
  height:200px;
  background-color: #F0F0F0;
}
.reg-type {
  width: 80%;
  text-align: center;
  p {
    font-size: 25px;
    font-weight: bold;
    margin: .7rem .7rem;

  }
  form {
    width: 100%;
  }
  button {
    width: 100%;
    background-color: $lightBlue;
    border: #000000 solid 1px;
    margin-bottom: 1.2rem;
    border-radius: 10px;
    font-size: 20px !important;
    color: $yellow;
    &:hover, &:focus{
      background-color: $lightBlueHover;
    }
  }
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .reg-type{
    width: 45%;
  }
}
@media screen and (min-width: 769px) {
  .reg-type{
    width: 25%;
  }
}
