$grey :#E2E2E2;
$lightBlue : #8AB1D3;
$darkBlue : #417BAD;
$lightBlueHover: #A6C2D9;
$yellow: #ffffc6;
$darkGrey: #666666;
$mediumGrey: #888888;
$lightBlack: #383838;
$lost: #874006;

.background{
 background-color: $lightBlack;
  width: 100%;
  height: 55vh;
  overflow: scroll;
  .pet{
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    .img {
      width: 24%;
      height: 100%;
      overflow: hidden;
      text-align: center;
      img {
        width: 75px;
        height: auto;
      }
    }
    .desc {
      width: 54%;
      h5 {
        margin-bottom: 0;
        font-size: 1.8rem;
      }
      p {
        margin-bottom: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        }
      }
    .status {
      width: 19%;
      font-size: 3.2rem;
      text-align: center;
      .fa-exclamation-triangle{
        color: #E3E300;
      }

    }
    &.lost {
      background-color: $lost;
    }
    &.re-home {
      color: $mediumGrey !important;
      img{
        opacity: .6;
      }
    }
  }
}
