$grey :#E2E2E2;
$lightBlue : #8AB1D3;
$darkBlue : #417BAD;
$lightBlueHover: #A6C2D9;
$yellow: #ffffc6;
$darkGrey: #666666;

app-pet-list{
  width: 100%;
}
.background{
  background-color: $grey;
  min-height: 91vh;
}
.no-padding {
  padding: 0 !important;
}
.dashboard {
  border: solid $darkGrey 2px;
  border-left-width: 0;
  border-right-width: 0;
  width: 100%;
  height: fit-content;
  .item {
    color: $darkGrey;
    margin: 1rem 0;
    font-weight: bold;
    font-size: 1rem;
    width: 49%;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    .icon {
      color: $darkBlue;
      font-size: 4rem;
    }
  }
}

