<div class="background">
  <div class="dashboard ">
    <div class="item" [routerLink]="['/user']">
      <i class="fa fa-user icon" aria-hidden="true"></i>
      <br>
      user
    </div>
    <div class="item" [routerLink]="['/lost-pets']">
      <i class="fa fa-frown-o icon" aria-hidden="true"></i>
      <br>
      lost pets
    </div>
    <div class="item">
      <i class="fa fa-plus icon" aria-hidden="true"></i>
      <br>
      add lost pet
    </div>
    <div class="item" [routerLink]="['/scans']">
      <i class="fa fa-search icon" aria-hidden="true"></i>
      <br>
      my scans
    </div>
  </div>
  <app-pet-list></app-pet-list>
</div>



